.albums-list-page {
  padding-top: 84px;

  h1 {
    padding-bottom: 24px;
    padding-left: 12px;
  }

  .album-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 32px;

    .artist-name {
      padding-bottom: 12px;
    }

    div.extra {
      color: white;
    }

    a.extra {
      color: white;
      background-color: #555;
      text-align: center;
    }
  }

  .load-more-button-container {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    justify-content: center;

    .button {
      min-width: 300px;
    }
  }
}