@import "./login-page";
@import "./artist.scss";

body {
  color: white;
  background-color: #282828;
}

.ui.card {
  background-color: #222;

  .content>.header,
  .content>.description {
      color: white;
  }
}

.ui.star.rating .icon {
  color: #555;
}

.ui.menu .item:before {
  display: none;
}

.item-cover-picture {
  background-color: #444;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 250px;
  justify-content: center;
  vertical-align: middle;
  width: 250px;
}

.no-padding {
  padding: 0;
}