@import "./login-page";
@import "./artist.scss";
@import "./albums.scss";

body {
  color: white;
  background-color: #282828;
}

.ui.card {
  background-color: #222;
  width: 200px;
  margin: 12px;

  .content>.header,
  .content>.description {
      color: white;
  }
}

.ui.cards a.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.link.card:hover {
  background-color: #555;
}

.ui.star.rating .icon {
  color: #555;
}

.ui.menu .item:before {
  display: none;
}

.item-cover-picture {
  background-color: #444;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 200px;
  justify-content: center;
  vertical-align: middle;
  width: 200px;
}

.no-padding {
  padding: 0;
}